@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital@1&family=Viaoda+Libre&family=El+Messiri:wght@400;500;600;700&family=Noto+Sans+Display:wght@400;500;600&family=Tenor+Sans&display=swap');

:root {
    --header-color: #FFFFFF;
    --header-color-active: #FFFFFF;
    --body-color: #FFFFFF;
    --component-accent-color1: #FE5353;
    --component-accent-color2: #219CC4;
    --component-grey-color: #C4C4C4;
    --text-accent-color1: #FE5353;
    --text-accent-color2: #219CC4;
    --plain-text-font: 'El Messiri', sans-serif;
    --subheading-font: 'El Messiri', sans-serif;
    --heading-font: 'El Messiri', sans-serif;
    --detail-font: 'El Messiri', sans-serif;
    --cursive-font: 'Philosopher', sans-serif;
    --news-title-font: 'Viaoda Libre', serif;
    --sans-serif-font: "Noto Sans Display", sans-serif;
    --tenor-font: "Tenor Sans", sans-serif;
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-semi-bold: 600;
    --weight-bold: 700;
    --details-font-size: 16px;

    --heading-font-size: 24px;
    --long-paragraph-font-size: 16px;
    --short-paragraph-font-size: 17px;
    --subheading-font-size: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.5s;
}

body {
    scroll-behavior: smooth;
}


h1 {
    font-size: var(--heading-font-size);
    font-family: var(--heading-font);
    font-weight: 700;
    color: #2D2D2D;
}

h3 {
    font-size: var(--subheading-font-size);
    font-family: var(--subheading-font);
    font-weight: 600;
    color: #2D2D2D;
}

h4 {
    font-size: var(--short-paragraph-font-size);
    font-family: var(--subheading-font);
    font-weight: 400;
    color: #2D2D2D;
}

p {
    font-size: 1.0625rem;
    font-family: var(--plain-text-font);
    font-weight: 400;
    color: #2D2D2D;
    white-space: pre-line;
}

pre {
    font-size: 1.0625rem;
    font-family: var(--plain-text-font);
    font-weight: 400;
    color: #2D2D2D;
    white-space: pre-line;
}

li {
    font-size: 1.0625rem;
    font-family: var(--plain-text-font);
    font-weight: 400;
    color: #2D2D2D;
    white-space: pre-line;
    margin: 0.5rem 0;
    list-style-type: inside;
    list-style: disc;
}

.header-top {
    display: inline-block;
    text-align: center;
    border-top: 2px solid var(--component-accent-color1);
    padding: 12px;
}

a {
    text-decoration: none;
}
