@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital@1&family=Viaoda+Libre&family=El+Messiri:wght@400;500;600;700&family=Noto+Sans+Display:wght@400;500;600&family=Tenor+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --component-accent-color1: #FE5353;
    --component-accent-color2: #219CC4;
    --component-grey-color: #C4C4C4;
    --text-accent-color1: #FE5353;
    --text-accent-color2: #219CC4;
    --plain-text-font: "Jost", sans-serif;
    --simple-font: "Roboto", sans-serif;
    --cursive-font: 'Philosopher', sans-serif;
    --news-title-font: 'Viaoda Libre', serif;
    --messiri-font: "El Messiri", sans-serif;
    --sans-serif-font: "Noto Sans Display", sans-serif;
    --tenor-font: "Tenor Sans", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.5s;
}

body {
    scroll-behavior: smooth;
}

.subpage-title {
    font-family: var(--plain-text-font);
    font-weight: 700;
    color: #2D2D2D;
}

.subpage-title {
    margin-bottom: 2rem;
}




h1, h2, h3, h4, h5, h6, p, pre, div {
    font-family: var(--plain-text-font);
    color: #2D2D2D;
    font-weight: 400;
}


p {
    font-size: 1.0625rem;
    white-space: pre-line;
}

pre {
    font-size: 1.0625rem;
    white-space: pre-line;
}

li {
    font-size: 1.0625rem;
    font-family: var(--plain-text-font);
    font-weight: 400;
    color: #2D2D2D;
    white-space: pre-line;
    margin: 0.5rem 0;
    list-style-type: inside;
    list-style: disc;
}

.header-top {
    display: inline-block;
    text-align: center;
    border-top: 2px solid var(--component-accent-color1);
    padding: 12px;
}

a {
    text-decoration: none;
}



.breadcrumbs-box {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 1rem 0;
}

.breadcrumb-past {
    display: inline-block;
    padding-right: 2rem;
}

.breadcrumb-now {
    display: inline-block;
    padding-left: 2rem;
    padding-right: 2rem;
}

.breadcrumb-past a {
    font-size: var(--subheading-font-size);
    font-family: var(--plain-text-font);
    font-weight: 400;
    color: #000;
    text-decoration: none;
}

.breadcrumb-past a.router-link-active {
    font-size: var(--subheading-font-size);
    font-family: var(--plain-text-font);
    font-weight: 400;
    color: #000;
    text-decoration: none;
}


.breadcrumb-now a {
    font-weight: 600;
    color: var(--text-accent-color1);
    font-size: var(--subheading-font-size);
    font-family: var(--plain-text-font);
    text-decoration: none;
}

.breadcrumb-now a.router-link-active {
    font-weight: 600;
    color: var(--text-accent-color1);
    font-size: var(--subheading-font-size);
    font-family: var(--plain-text-font);
    text-decoration: none;
}
